<!DOCTYPE html>
<h1>Admin</h1>
{% if question_form %}
<form method="post">
    {{ question_form.hidden_tag() }}
    <ul>
        <li>{{ question_form.question }}</li>
        {% for error in question_form.question.errors %}
        <li><span style="color: red;">[{{ error }}]</span></li>
        {% endfor %}
        <li>{{ question_form.right_answer }}</li>
        {% for error in question_form.right_answer.errors %}
        <li><span style="color: red;">[{{ error }}]</span></li>
        {% endfor %}
        <li>{{ question_form.wrong_answer }}</li>
        {% for error in question_form.wrong_answer.errors %}
        <li><span style="color: red;">[{{ error }}]</span></li>
        {% endfor %}
        <li>{{ question_form.submit }}</li>


    </ul>
</form>
{% elif data.status == quiz_status_list.USER_WAITING_ALLOWANCE_TO_ANSWER %}
<ul>
    <li>Question: {{ data.current_question.question }}</li>
    <li>Booker: {{ data.current_booking.booker }}</li>
    <li>
        <form method="POST" action="/allow_answer/{{ data.current_booking.id }}">
            <input id="allow_answer" name="allow_answer" type="submit" value={{ data.current_booking.booker }}>
        </form>
    </li>
</ul>
{% elif data.status == quiz_status_list.USER_WAITING_VALIDATION %}

<ul>
    <li>Question: {{ data.current_question.question }}</li>
    <li>Answer: {{ data.current_booking.answer }}</li>
    <li>
        <form method="POST" action="/validate_answer/{{ data.current_booking.id }}">
            <input id="right_answer" name="right_answer" type="submit" value="right_answer">
            <input id="wrong_answer" name="wrong_answer" type="submit" value="wrong_answer">
        </form>
    </li>
</ul>
{% else %}
<ul>
    <li>Question: {{ data.current_question.question }}</li>
    <li>Right answer: {{ data.current_question.right_answer }}</li>
    <li>Wrong answer: {{ data.current_question.wrong_answer }}</li>
</ul>
{% endif %}