<!DOCTYPE html>
<h1>Admin</h1>
<form method="post">
    {{ question_form.hidden_tag() }}
    <ul>
        <li>{{ question_form.question }}</li>
        {% for error in question_form.question.errors %}
            <li><span style="color: red;">[{{ error }}]</span></li>
        {% endfor %}
        <li>{{ question_form.right_answer }}</li>
        {% for error in question_form.right_answer.errors %}
            <li><span style="color: red;">[{{ error }}]</span></li>
        {% endfor %}
        <li>{{ question_form.wrong_answer }}</li>
        {% for error in question_form.wrong_answer.errors %}
            <li><span style="color: red;">[{{ error }}]</span></li>
        {% endfor %}
        
    </ul>
</form>