{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block user %}{{quiz.logged_user}}{% endblock %}
{% block head %}Quiz{% endblock %}


{% block content %}
{% with message = get_flashed_messages(category_filter=["hint"]) %}
{% if quiz.status == quiz_status_list.NO_QUESTION %}
<h3>Wait for a new question</h3>
{% elif quiz.status == quiz_status_list.USER_CAN_BOOK %}
<form id="booking-form" method="POST">
    <h3 class="text-center h5 text-muted">There is a new question!</h3>
    <div class="row justify-content-end mx-0 px-0">
        <input id="submit-booking" class="btn btn-primary col-4" name="submit_booking" type="submit"
            value="Book answer">
    </div>
</form>
{% elif quiz.status == quiz_status_list.USER_WAITING_ALLOWANCE_TO_ANSWER or
    quiz.status == quiz_status_list.USER_WAITING_VALIDATION or
    quiz.status == quiz_status_list.USER_WON or
    quiz.status == quiz_status_list.USER_LOST
    %}
{% if message %}
<h3>{{ message.0 }}</h3>
{% endif %}
{% elif quiz.status == quiz_status_list.USER_CAN_ANSWER %}
<h1 class="text-center font-weight-bold h1 mb-5">{{ quiz.current_question.question }}?</h1>
<form id="submit-answer-form" method="POST" action="quiz/submit_answer/{{quiz.user_booking_status.id}}">
    <div class="container">
        <div class="form-group">
            {{ quiz.answer_form.hidden_tag() }}
            <div class="row px-0 mb-3">
                {{ quiz.answer_form.answer(class_="form-control col-13") }}
                {% for error in quiz.answer_form.answer.errors %}
                <li><span style="color: red;">[{{ error }}]</span></li>
                {% endfor %}
                <!-- {{ quiz.answer_form.submit_answer }} -->
            </div>
        </div>
    </div>
    <div class="container-fluid mx-0 px-0">
        <div class="row justify-content-end mx-0 px-0">
            <input id="submit-answer" class="btn btn-primary col-4" name="submit_answer" type="submit"
                value="submit_answer">
        </div>
    </div>
</form>
{% else %}
{% endif %}
{% endwith %}

{% endblock %}