<h1>quiz</h1>

{% with message = get_flashed_messages(category_filter=["hint"]) %}
{% if quiz.status == quiz_status_list.NO_QUESTION %}
<h3>Wait for a new question</h3>
{% elif quiz.status == quiz_status_list.USER_CAN_BOOK %}
<form method="POST">
    <input id="submit" name="submit_booking" type="submit" value="Book answer">
</form>
{% elif quiz.status == quiz_status_list.USER_WAITING_ALLOWANCE_TO_ANSWER or
    quiz.status == quiz_status_list.USER_WAITING_VALIDATION or
    quiz.status == quiz_status_list.USER_WON or
    quiz.status == quiz_status_list.USER_LOST
    %}
{% if message %}
<h3>{{ message.0 }}</h3>
{% endif %}
{% elif quiz.status == quiz_status_list.USER_CAN_ANSWER %}
<h3>{{ quiz.current_question.question }}?</h3>
<form method="POST" action="/submit_answer/{{quiz.user_booking_status.id}}">
    {{ quiz.answer_form.hidden_tag() }}
    {{ quiz.answer_form.answer }}
    {% for error in quiz.answer_form.answer.errors %}
    <li><span style="color: red;">[{{ error }}]</span></li>
    {% endfor %}
    {{ quiz.answer_form.submit_answer }}
    <input id="submit" name="submit_answer" type="submit" value="submit_answer">
</form>
{% else %}
{% endif %}
{% endwith %}

{{quiz.status}}